.game-border {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    width: fit-content;
    padding: 10px;
}

.game-canvas {
    position: relative;
}

.game-over {
    position: absolute;
    text-align: center;
}

.game-over-heading {
    font-size: xx-large;
    font-family: Arial;
    font-weight: bold;
    text-shadow: -2px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF; 
}

.game-over-text {
    font-size: x-large;
    font-family: Arial;
    text-shadow: -2px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF; 
}

.hide {
    display: none;
}